{% extends 'index.html' %}
{% load object_filter %}
{% load humanize %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="/media/static/js/theme.blue.css" xmlns="http://www.w3.org/1999/html">
    <link rel="stylesheet" type="text/css" href="/media/static/js/theme.dropbox.css">
    <link rel="stylesheet" type="text/css" href="/media/static/js/jquery.tablesorter.pager.css">
    <link rel="stylesheet" type="text/css" href="/media/static/js/jquery-ui.css">
    <script type="text/javascript" src="/media/static/js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="/media/static/js/jquery.tablesorter.widgets.js"></script>
    <link rel="stylesheet" type="text/css" href="/media/static/js/theme.jui.css">
    <script type="text/javascript" src="/media/static/js/widget-pager.js"></script>


    <style>
        p {
            margin: 5px 0 0 5px;
        }
    </style>
    <div class="panel-body">
        <div class="panel panel-default scroll" style="max-width: 90%">
            {% if total_sum %}
                <p>
                    Общая сумма к сдачи в кассу: <strong>{{ total_sum|intcomma }}</strong>
                    Сдано: <strong class="text-success">{{ got|intcomma }}</strong>
                    Не сдано: <strong class="text-danger">{{ not_got|intcomma }}</strong>
                </p>
            {% else %}
                <p class="text-danger" align="center">Недостаточно прав</p>
            {% endif %}
            {% if reports_list %}
                <div class="pager">
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" />
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" /> <span class="pagedisplay"></span>
                    <!-- this can be any element, including an input -->
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" />
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" />
                    <select class="pagesize input-sm" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                    <select class="gotoPage input-sm" title="Select page number"></select>
                </div>

                <table class="table table-hover table-striped tablesorter">
                    <thead>
                        <tr>
                            {% for each in headers %}
                                <th>{{ each.verbose_name }}</th>
                            {% endfor %}
                                <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for each in reports_list %}
                            <tr>
                                {% for element in headers %}
                                    <td>{{ each|value:element.name|intcomma }}</td>
                                {% endfor %}
                                <td>
                                    {% if not each.transaction %}
                                        <a href="{% url 'calc:report_transaction' %}?report_id={{ each.id }}"
                                           title="Добавить">
                                            <strong style="font-size: large; color: red">+</strong>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'calc:transaction_detail' each.transaction.id %}"
                                           title="Посмотреть транзакцию" target="_blank">
                                            <strong style="color: green">✔</strong>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="pager">
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" />
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" /> <span class="pagedisplay"></span>
                    <!-- this can be any element, including an input -->
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" />
                    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" />
                    <select class="pagesize input-sm" title="Select page size">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="40">40</option>
                    </select>
                    <select class="gotoPage input-sm" title="Select page number"></select>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}