{% extends 'index.html' %}
{% load humanize %}
{% load bootstrap %}
{% block body %}

    <link rel="stylesheet" type="text/css" href="/media/static/js/theme.blue.css" xmlns="http://www.w3.org/1999/html">
      <link rel="stylesheet" type="text/css" href="/media/static/js/theme.dropbox.css">
      <link rel="stylesheet" type="text/css" href="/media/static/js/jquery.tablesorter.pager.css">
      <link rel="stylesheet" type="text/css" href="/media/static/js/jquery-ui.css">
      <script type="text/javascript" src="/media/static/js/jquery.tablesorter.js"></script>
      <script type="text/javascript" src="/media/static/js/jquery.tablesorter.widgets.js"></script>
      <link rel="stylesheet" type="text/css" href="/media/static/js/theme.jui.css">
      <script type="text/javascript" src="/media/static/js/widget-pager.js"></script>
<style>

.tr_style {
    font-weight: bold;
    color: black;
}

</style>


<script type="text/javascript">
function ShowHideContent(spoiler)
{
    if (spoiler.style.display != 'none')
        spoiler.style.display = 'none';
    else
        spoiler.style.display = 'block';

}
</script>


<div class="panel-body">
<a href="{% url 'calc:transaction_create' 0 %}" class="btn btn-danger">Добавить РАСХОД</a>
<a href="{% url 'calc:transaction_create' 1 %}" class="btn btn-success">Добавить ПРИХОД</a>
<div class="panel panel-primary" style="margin-top: 5px;">
  <div class="panel-heading">
    <h3 class="panel-title">Баланс счетов</h3>
  </div>
  <div class="panel-body">
<a href="javascript:void(0)" onclick="ShowHideContent(document.getElementById('id1'))" class="btn btn-info btn-xs" style="margin: 5px">Показать / скрыть </a>
      <div id="id1" style="display: none;">
    <table class="table table-bordered">
    <tr>
    {% for element in pouch %}
        {% if forloop.counter == 7 or forloop.counter == 13 or forloop.counter == 19%}
            </tr>
            <tr>
        {% endif %}
        <td><text style="color: #109c0e; font-weight: bold;">{{ element.name }}</text> {% if element.comment %}({{ element.comment }}){% endif %}: <strong>{{ element.balance|intcomma }}</strong></td>
        {% endfor %}
    </tr>
    </table>
    </div>
  </div>
</div>
    <h4>Внимание! Здесь отображаются все транзакции за месяц: <b>{{ month_name }}</b> </h4>
<form action="{% url 'calc:transaction' %}" method="post" class="form-group">
    {% csrf_token %}
    <div style="width: 190px; float: left">
{{ form.select_month|bootstrap }}
        </div>
    <div style="margin-top: 30px; margin-left: 4px; float: left">
    <input type="submit" value="Показать" class="btn-sm btn-default">
    </div>
</form>
 <!-- pager -->
<div class="pager" style="margin-top: 90px">
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" />
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" /> <span class="pagedisplay"></span>
    <!-- this can be any element, including an input -->
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" />
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" />
    <select class="pagesize" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    <select class="gotoPage" title="Select page number"></select>
</div>

    <table class="table table-hover table-striped tablesorter">
        <thead>
            <tr class="tr_style">
            <th>ID</th>
            <th>Дата</th>
            <th>Сумма</th>
            <th>Категория</th>
            <th>Ответственный</th>
            <th>Счет</th>
            <th>Комментарий</th>
            <th>Управление</th>
            <th>Тип</th>
            {% if user.is_superuser %}
                <th>Статус</th>
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for position in transaction %}
                <tr class="tr_style">
                <td style="background: linear-gradient({{ position.category.color }}, white); border-radius: 9px"><strong>{{ position.id }}</strong></td>
                <td>{{ position.date|date:"d.m.Y"}}</td>
                <td><strong>{% if not position.typeof %}-{% endif %}{{ position.sum_val|intcomma }}</strong></td>
                <td style="color: {{ position.category.color }};">{{ position.category }}</td>
                <td>{{ position.who_is }}</td>
                <td>{{ position.money }}</td>
                <td>{{ position.comment }}</td>
                <td>
                    <div style="margin-top: 5px; margin-bottom: 5px">
                    <a href="{% url 'calc:transaction_detail' position.id %}" class="bnt btn-success btn-xs">Подробно</a>
                        </div>
                        <div>
                    <p><a href="{% url 'calc:changer' position.id 1 %}" class="bnt btn-warning btn-xs">Изменить</a></p>
                        </div>
                </td>
                    <td>{% if not position.typeof %}<p class="text-danger">Расход</p>{% else %}<p class="text-success">Приход</p>{% endif %}</td>
                {% if user.is_superuser %}
                    <td>{% if position.checking %}ПРОВЕДЕНО{% else %}ОТМЕНЕНО{% endif %}</td>
                {% endif %}
                </tr>
        {% endfor %}
        </tbody>
    </table>

<!-- pager -->
<div class="pager">
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/first.png" class="first" />
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/prev.png" class="prev" /> <span class="pagedisplay"></span>
    <!-- this can be any element, including an input -->
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/next.png" class="next" />
    <img src="https://mottie.github.io/tablesorter/addons/pager/icons/last.png" class="last" />
    <select class="pagesize" title="Select page size">
        <option selected="selected" value="10">10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="40">40</option>
    </select>
    <select class="gotoPage" title="Select page number"></select>
</div>

</div>

 <script type='text/javascript' src="/media/static/js/settings.tablesorter.js"></script>
{% endblock %}


