{% extends 'index.html' %}
{% block body %}
{% load bootstrap %}
<style>
.form-control {
    width: 60%;
}
.date {
    width: 60%;
}
</style>
    <!-- <script src="jquery.blockUI.js"></script> -->
<script src="/media/static/js/jquery.blockUI.js"></script>
    <script language="javascript" type="text/javascript">
    function submit_form() {
       $("#search").submit();
    }
    $(document).ready(function() {
    $('#demo3').click(function() {
        $.blockUI({
            message: '<img src="/media/static/img/loading.gif" />',
            css: {
                top: '20%'
            }
        })
    });
});
    </script>
 <div class="panel-body">
 <h4 align="center">
 {% if kind == '0' %}
     <text class="text-danger">Расход</text>
 {% elif kind == '1' %}
     <text class="text-success">Приход</text>
 {% endif %}
 </h4>
<form method="post" action="{% url 'calc:transaction_calc' kind %}">
    {% csrf_token %}
    <div style="margin-left: 15%; width: 70%" align="center">
        {{ form|bootstrap }}
        <input type="submit" id="demo3" value="Сохранить" class="btn btn-success" style="margin: 7px" onclick="submit_form()"/>
        <a href="{% url 'calc:transaction' %}" class="btn btn-default" style="margin: 7px">Отмена</a>
    </div>
</form>
</div>
{% endblock %}