{% extends 'index.html' %}
{% block body %}
{% load bootstrap %}
<style>
.form-control {
    width: 50%;
}
.date {
    width: 50%;
}
</style>    
 <div class="panel-body">
<form method="post" action="{% url 'calc:transaction_calc' kind %}">
    {% csrf_token %}
    <div class="panel-body" style="width: 46%; margin-left: 24%">
        {{ form|bootstrap_horizontal }}
    <h5 class="text-danger">{{ error }}</h5>
    <div style="margin-left: 24%;">
        <input type="submit" value="Сохранить" class="btn btn-success"/>
        <a href="{% url 'calc:transaction' %}" class="btn btn-default">Отмена</a>
    </div>
    </div>
</form>
</div>
{% endblock %}