{% extends 'index.html' %}
{% block body %}
{% load bootstrap %}
    <!-- <script src="jquery.blockUI.js"></script> -->
<script src="/media/static/js/jquery.blockUI.js"></script>
    <script language="javascript" type="text/javascript">
    function submit_form() {
       $("#search").submit();
    }
    $(document).ready(function() {
    $('#demo3').click(function() {
        $.blockUI({
            message: '<img src="/media/static/img/loading.gif"/>',
            css: {
                top: '20%',
                margin: auto
            }
        })
    });
});
    </script>
 <div class="panel-body">
 <div class="panel panel-default" style="margin: auto; max-width: 500px;">
 <div align="center">
 {% if kind == '0' %}
     <h4 class="text-danger">Расход</h4>
 {% elif kind == '1' %}
     <h4 class="text-success">Приход</h4>
 {% endif %}
 </div>
<form method="post" action="{% url 'calc:transaction_calc' kind %}" style="margin: 2%">
    {% csrf_token %}
        {{ form|bootstrap }}
        <div align="center">
        <input type="submit" id="demo3" value="Сохранить" class="btn btn-success" style="margin: 7px" onclick="submit_form()"/>
        <a href="{% url 'calc:transaction' %}" class="btn btn-default" style="margin: 7px">Отмена</a>
        </div>
</form>
</div>
</div>
{% endblock %}