{% extends 'index.html' %}
{% load bootstrap %}
{% load object_filter %}
{% load humanize %}
{% block body %}
    <style>
    .form-group {
        margin: 0.5%;
    }
    </style>
    {% if result %}
        <div class="alert alert-dismissible alert-info" style="max-width: 500px; margin: auto">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{ result }}</strong>
        </div>
    {% endif %}
    <div class="panel-body">
        <div class="panel panel-default scroll" style="max-width: 500px;">
            {% if data %}
             <a href="{% url 'salary:reports_list' %}"
                       class="btn btn-default form-group" style="width: 99%">Вернуться к списку отчетов</a>
            <table class="table table-hover table-striped">
                <tr>
                    <td>Дата:</td>
                    <td>{{ data.working_date|date:"d-m-Y" }}</td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td>{{ data.id }}</td>
                </tr>
                <tr>
                    <td>Мастер:</td>
                    <td>{{ data.user }}</td>
                </tr>
                <tr>
                    <td>Работа:</td>
                    <td>{{ data.work }}</td>
                </tr>
                <tr>
                    <td>Кол-во часов:</td>
                    <td>{{ data.hours_qty }}</td>
                </tr>
                <tr>
                    <td>Адрес:</td>
                    <td>{{ data.quarter }}-{{ data.building }}-{{ data.apartment }}</td>
                </tr>
                <tr>
                    <td>Коммент:</td>
                    <td>{{ data.comment }}</td>
                </tr>
                <tr>
                    <td>Помощники:</td>
                    <td>{{ data|value:'coworker' }}</td>
                </tr>
                <tr>
                    <td>Принятные кредиты:</td>
                    <td>
                    {% if not data.income %}
                        Нет
                    {% else %}
                        <strong>{{ data.income|intcomma }}</strong>
                    {% endif %}
                    {% if data.transaction %}
                        В кассе
                    {% endif %}
                    </td>
                </tr>
            </table>
            <div>
            <form method="get" class="form-group">
                {{ form|bootstrap }}
                <input type="hidden" value="{{ data.id }}" name="id">
                <div align="center">
                    <input type="submit" name="action" value="Подтвердить"
                           class="btn btn-success form-group" style="width: 99%">
                    <input type="submit" name="action" value="Удалить"
                           class="btn btn-danger form-group" style="width: 99%">
                    <input type="submit" name="action" value="Отложить"
                           class="btn btn-primary form-group" style="width: 99%">
                </div>
            </form>
            </div>
            {% if info %}
                <h4 align="center">По этому адресу <strong>{{ data.quarter }}-{{ data.building }}-{{ data.apartment }}</strong></h4>
                <h4 align="center">Сумма за работы: <strong>{{ cost|intcomma }}</strong></h4>
                {% for data in info %}
                 <div class="panel-body">
                    <div class="panel panel-default scroll" style="max-width: 500px;">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Дата:</th>
                                <th>{{ data.working_date|date:"d-m-Y" }}</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>ID:</td>
                            <td>{{ data.id }}</td>
                        </tr>
                        <tr>
                            <td>Мастер:</td>
                            <td>{{ data.user }}</td>
                        </tr>
                        <tr>
                            <td>Работа:</td>
                            <td>{{ data.work }}</td>
                        </tr>
                        {% if data.confirmed %}
                        <tr>
                            <td>Стоимость:</td>
                            <td>{{ data.cost }}</td>
                        </tr>
                        {% endif %}
                        {% if data.comment %}
                        <tr>
                            <td>Коммент:</td>
                            <td>{{ data.comment }}</td>
                        </tr>
                        {% endif %}
                        {% if data.admin_comment %}
                        <tr>
                            <td>Заметка нач.:</td>
                            <td>{{ data.admin_comment }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <td>Помощники:</td>
                            <td>{{ data|value:'coworker' }}</td>
                        </tr>
                        <tr>
                            <td>Статус:</td>
                            <td>
                                <p
                                    {% if data.confirmed %}
                                        class="text-success">Подтвержден
                                    {% elif data.stored %}
                                        class="text-info">Отложен
                                    {% else %}
                                        class="text-warning">Не подтвержден
                                    {% endif %}
                                </p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    </div>
                 </div>
                {% endfor %}
             {% endif %}
            {% else %}
                <div align="center"><h4 class="text-danger">Все отчеты подтверждены!</h4></div>
                <script>
                    setTimeout(function () {
                        window.location.replace("{% url 'salary:reports_list' %}");
                    }, 2000);
                </script>
            {% endif %}
        </div>
    </div>
{% endblock %}