{% extends 'index.html' %}
{% load humanize %}
{% load bootstrap %}
{% block body %}
    <a href="{% url 'salary:total_create' %}" class="btn btn-success">Заполнить</a>
    <a href="{% url 'salary:get_salary' %}" class="btn btn-success">Выдача</a>
    <form action="{% url 'salary:total' %}" method="post" class="form-group">
    {% csrf_token %}
    <div style="width: 190px; float: left">
{{ form.select_month|bootstrap }}
        </div>
    <div style="margin-top: 30px; margin-left: 4px; float: left">
    <input type="submit" value="Показать" class="btn-sm btn-default">
    </div>
</form>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th>ID</th>
                <th>Месяц</th>
                <th>Работник</th>
                <th>Сальдо</th>
                <th>Начисления</th>
                <th>Бонусы</th>
                <th>Удержания</th>
                <th>К выдаче</th>
                <th>Выдано</th>
                <th>Текущий баланс</th>
                </tr>
            </thead>
            <tbody>
                {% for each in total %}
                <tr>
                <td>{{ each.id }}</td>
                <td>{{ each.date|date:"M-Y" }}</td>
                <td>{{ each.worker }}</td>
                <td {% if each.balance_before < 0 %}class="text-danger"{% endif %}>{{ each.balance_before|intcomma }}</td>
                <td><a href="{% url 'salary:accrual' each.worker.id %}">{{ each.accrual|intcomma }}</a></td>
                <td><a href="{% url 'salary:bonus' each.worker.id each.id %}">{{ each.bonus|intcomma }}</a></td>
                <td><a href="{% url 'salary:withholding' each.worker.id each.id %}">{{ each.withholding|intcomma }}</a></td>
                <td>{{ each.balance_after|intcomma }}</td>
                <td><a href="{% url 'salary:issued' each.worker.id each.id %}">{{ each.issued|intcomma }}</a></td>
                <td {% if each.balance_now < 0 %}class="text-danger"{% endif %}>{{ each.balance_now|intcomma }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    </div>
{% endblock %}