{% extends 'reports.html' %}
{% load bootstrap %}
{% block body %}
    <!-- <script src="jquery.blockUI.js"></script> -->
<script src="/media/static/js/jquery.blockUI.js"></script>
    <script language="javascript" type="text/javascript">
    function submit_form() {
       $("#report").submit();
    }
    $(document).ready(function() {
    $('#demo3').click(function() {
        $.blockUI({
            message: '<img src="/media/static/img/loading2.gif"/>',
            css: {
                top: '20%',
                margin: auto
            }
        })
    });
});
    </script>
    {% if message %}
        <div class="alert alert-dismissible alert-info" style="max-width: 500px; margin: auto">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong>{{ message }}</strong>
        </div>
    {% endif %}
    {% if form %}
    <div class="panel-body">
        <div class="panel panel-default scroll" style="max-width: 500px;">
            <form method="post" style="margin: 2%;" id="report">
                {% csrf_token %}
                <label class="control-label  " for="id_working_date">Дата выполнения</label>
                <div class=" " style="width: 100%">
                    <input class="form-control form-control"
                           id="id_working_date"
                           name="working_date"
                           required="True"
                           type="date"
                           value="{% now "Y-m-d" %}"
                           min="{% now "Y-m-01" %}"
                           max="{% now "Y-m-d" %}"
                    />
                </div>
                {{ form|bootstrap }}
                <div align="center">
                    <button
                            type="button"
                            id="demo3"
                            class="btn btn-success"
                            style="width: 98%;"
                            onclick="submit_form()"
                    >Сохранить</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

{% endblock %}