{% extends 'reports.html' %}
{% load object_filter %}
{% load humanize %}
{% load bootstrap %}
{% block body %}
<style>
    .form-group {
        max-width: 200px;
        float: left;
        margin: 0.5%;
    }
</style>
<script type="text/javascript">
function ShowHideContent(spoiler)
{
    if (spoiler.style.display != 'none')
        spoiler.style.display = 'none';
    else
        spoiler.style.display = 'block';

}
</script>
    <div class="panel-body">
    <div class="panel panel-default scroll">
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <label class="control-label">Подтвердить</label>
            <input type="submit" value="Фильтр" class="btn btn-success btn-sm form-control">
        </div>
    </form>
    </div>
    </div>

    {% if dupes %}
    <div class="panel panel-success" style="margin: auto; max-width: 98%;">
    <div class="panel-heading">
        <a href="javascript:void(0)" onclick="ShowHideContent(document.getElementById('id1'))" class="btn btn-danger btn-xs" style="margin: 5px">Дубликаты!</a>
    </div>
    <div class="panel-body">
          <div id="id1" style="display: none;">
          <div class="panel panel-default scroll" style="margin: auto;">
            <table class="table table-hover table-striped">
            <thead>
                <tr>
                    {% for each in header %}
                        <th>{{ each.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for each in dupes %}
                    <tr>
                        {% for element in header %}
                        <td>{{ each|value:element.name|intcomma }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
          </div>
          </div>
    </div>
    </div>
    {% endif %}

    <div class="panel-body">
    <div class="panel panel-default scroll">

    <table class="table table-hover">
        <thead>
            <tr>
                {% for each in header %}
                    <th>{{ each.verbose_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for each in data %}
                <tr style="background-color: {% if each.confirmed %}#EAFEE7{% else %}#F9E6E6{% endif %};">
                    {% for element in header %}
                    <td>{{ each|value:element.name|intcomma }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    {% if pages %}
    <div align="center">
    <ul class="pagination">
        {% if pages.has_previous %}
            <li><a href="{% url 'salary:my_reports_list' 1 %}">&laquo;</a></li>
            <li><a href="{% url 'salary:my_reports_list' pages.previous_page_number %}">{{ pages.previous_page_number }}</a></li>
        {% endif %}

        <li class="active">
            <a href="#">{{ pages.number }}</a>
        </li>

        {% if pages.has_next %}
             <li><a href="{% url 'salary:my_reports_list' pages.next_page_number %}">{{ pages.next_page_number }}</a></li>
             <li><a href="{% url 'salary:my_reports_list' pages.paginator.num_pages %}">&raquo;</a></li>
        {% endif %}
    </ul>
    </div>

    {% endif %}


{% endblock %}