{% extends 'index.html' %}
{% load object_filter %}
{% load humanize %}
{% load bootstrap %}
{% block body %}
<style>
    .form-group {
        max-width: 200px;
        float: left;
        margin: 0.5%;
    }
</style>
<script type="text/javascript">
function ShowHideContent(spoiler)
{
    if (spoiler.style.display != 'none')
        spoiler.style.display = 'none';
    else
        spoiler.style.display = 'block';
}
</script>
    {% regroup dupes by quarter as quarter_list %}
    <ul>
        {% for quarter in quarter_list %}
            <li>{{ quarter.grouper }}
                <ul>
                    {% regroup quarter.list|dictsort:"building" by building as building_list %}
                    {% for building in building_list %}
                      <li>{{ building.grouper }}
                                <ul>
                                {% regroup building.list|dictsort:"apartment" by apartment as apartment_list %}
                                   {% for apartment in apartment_list %}
                                    <li>{{ apartment.grouper }}
                                        {% if apartment.list|length > 1 %}
                                       {% for each in apartment.list %}
                                           <ul>
                                            {{ each.id }}: {{ each.working_date|date:"d-m-Y" }} - {{ each.work__name }}
                                           </ul>
                                       {% endfor %}
                                        {% endif %}
                                   </li>
                                   {% endfor %}
                                </ul>
                    {% endfor %}
                      </li>
                </ul>
            </li>
        {% endfor %}
    </ul>
    {% if dupess %}
    <div class="panel panel-success" style="margin: auto; max-width: 98%;">
    <div class="panel-heading">
        <a href="javascript:void(0)"
           onclick="ShowHideContent(document.getElementById('id1'))"
           class="btn btn-danger btn-xs" style="margin: 5px">Тестовая функция. Дубликаты этого месяца</a>
    </div>
    <div class="panel-body">
          <div id="id1" style="display: none;">
          <div class="panel panel-default scroll" style="margin: auto;">
            <table class="table table-hover table-striped">
            <thead>
                <tr>
                    {% for each in header %}
                        <th>{{ each.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for each in dupes %}
                    <tr>
                        {% for element in header %}
                        <td>{{ each|value:element.name|intcomma }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
          </div>
          </div>
    </div>
    </div>
    {% endif %}
    <a href="{% url 'salary:report_confirm' %}" class="btn btn-success btn-sm" style="margin: 1%;">Подтверждение заявок</a>
    {% if form %}
    <div class="panel-body">
    <div class="panel panel-default scroll">
    <form method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <label class="control-label">Подтвердить</label>
            <input type="submit" value="Фильтр" class="btn btn-success btn-sm form-control">
        </div>
    </form>
    </div>
    </div>
    {% endif %}
    <div class="panel-body">
    <div class="panel panel-default scroll">
        <p>Итого заработано: {{ salary|intcomma }}</p>
    </div>
    </div>
    <div class="panel-body">
    <div class="panel panel-default scroll">
    <table class="table">
        <tbody>
            <tr>
                <td class="active" style="width: 20%">
                    <a href="{% url 'salary:reports_list' %}" class="btn btn-default btn-sm">
                        Все
                    </a></td>
                <td class="success" style="width: 20%">
                    <a href="?confirmed=True" class="btn btn-success btn-sm">
                        Подтвержден
                    </a></td>
                <td class="warning" style="width: 20%">
                    <a href="?confirmed=False" class="btn btn-warning btn-sm">
                       Не подтвержден ({{ not_confirmed }})
                    </a></td>
                <td class="info" style="width: 20%">
                    <a href="?stored=True" class="btn btn-info btn-sm">
                        Отложен ({{ stored }})
                    </a></td>
                <td class="danger" style="width: 20%">
                    <a href="?deleted=True" class="btn btn-danger btn-sm">
                        Удален
                    </a></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-striped table-bordered">
        <thead>
            <tr>
                {% for each in header %}
                    <th>{{ each.verbose_name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for each in data %}
                <tr {% if each.deleted %}
                        class="danger"
                    {% elif each.stored %}
                        class="info"
                    {% elif not each.confirmed %}
                        class="warning"
                    {% else %}
                        class="success"
                    {% endif %}
                >
                    {% for element in header %}
                        <td {% if forloop.counter == 1 %}
                                onclick="window.open('{% url 'salary:reports_history' %}?id={{ each.id }}', '_blank')"
                                style="cursor: pointer"
                            {% endif %}>
                            {{ each|value:element.name|intcomma }}
                        </td>
                    {% endfor %}
                    <td>
                        {% if each.stored or not each.confirmed and not each.deleted %}
                            <a href="{% url 'salary:report_confirm' %}?id={{ each.id }}"
                            class="btn btn-sm" title="Подтвердить">
                                ✔
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    {% if pages %}
    <div align="center">
    <ul class="pagination">
        {% if pages.has_previous %}
            <li><a href="?{{ filter }}&page=1">&laquo;</a></li>
            <li><a href="?{{ filter }}&page={{ pages.previous_page_number }}">{{ pages.previous_page_number }}</a></li>
        {% endif %}

        <li class="active">
            <a href="#">{{ pages.number }}</a>
        </li>

        {% if pages.has_next %}
             <li><a href="?{{ filter }}&page={{ pages.next_page_number }}">{{ pages.next_page_number }}</a></li>
             <li><a href="?{{ filter }}&page={{ pages.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
    </ul>
    </div>
    {% endif %}


{% endblock %}