{% extends 'salary/work_reports_list.html' %}
{% load bootstrap %}
{% load humanize %}
{% load object_filter %}
{% block body %}
    <style>
    #id_work {
       max-height: 200px;
       overflow: auto;
    }
    .form-group {
        margin: 0.5%;
    }
    </style>
    <script type="text/javascript">
        function ShowHideContent(spoiler)
        {
            if (spoiler.style.display != 'none')
                spoiler.style.display = 'none';
            else
                spoiler.style.display = 'block';
        }
    </script>
    <!-- Block filter -->
    <div class="panel panel-default scroll" style="margin: auto; max-width: 500px;">
        <div class="panel-heading">
            <a href="javascript:void(0)"
               onclick="ShowHideContent(document.getElementById('id-2'))"
               class="btn btn-default btn-xs" style="margin: 5px">Фильтр</a>
            Период отчета: {{ dates }}
            {% if all_work %}
                Всего заявок: {{ all_work|length }}
            {% endif %}
        </div>
        <div class="panel-body">
            <div id="id-2" style="display: none;">
                <div class="panel panel-default scroll" style="margin: auto;">
                    <form method="get">
                        {{ form|bootstrap }}
                        <input type="submit" value="Фильтр" class="btn btn-success" style="margin: 3px">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end block -->
    <!-- Block work counter -->
    <div class="panel panel-default scroll" style="margin: auto; max-width: 98%; margin-top: 5px">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
            <th>Работы, выполненные по одному</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{% for x in work_counter %}{{ x }} {% endfor %}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- end block -->
    <!-- Block group work -->
    <div class="panel" style="margin: auto; max-width: 98%; margin-top: 5px;">
    <table class="table table-hover table-striped">
        <thead>
            <tr>
            <th>Работы, выполненные в команде</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NULL</td>
            </tr>
        </tbody>
    </table>
    <div class="panel-heading">
        <a href="javascript:void(0)"
           onclick="ShowHideContent(document.getElementById('id-3'))"
           class="btn btn-success btn-xs" style="margin: 5px">Подробно</a>
    </div>
    <div class="panel-body">
          <div id="id-3" style="display: none;">
          <div class="panel panel-default scroll" style="margin: auto;">
            <table class="table table-hover table-striped">
            <thead>
                <tr>
                    {% for each in header %}
                        <th>{{ each.verbose_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for each in group_work %}
                    <tr>
                        {% for element in header %}
                        <td>{{ each|value:element.name|intcomma }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
          </div>
          </div>
    </div>
    </div>
    <!-- end block -->
    <!-- Block report -->
    {% for each in report %}
            <div class="panel panel-default scroll" style="margin: auto; max-width: 98%; margin-top: 5px">
                <div class="panel-heading">
                    <a href="javascript:void(0)"
                       onclick="ShowHideContent(document.getElementById('id{{ forloop.counter }}'))"
                       class="btn btn-default btn-xs" style="margin: 5px">
                        {% for x in each|slice:":1" %}<---{{ x.user.worker }}--->{% endfor %}
                    </a>Количество заявок: {{ each|length }} /
                    Заработано за период: <strong>{{ each|salary|intcomma }}</strong>
                </div>
                <div class="panel-body">
                    <div id="id{{ forloop.counter }}" style="display: none;">
                        <div class="panel panel-default scroll" style="margin: auto;">
                        <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                {% for head in header %}
                                    <th>{{ head.verbose_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in each %}
                                <tr>
                                    {% for element in header %}
                                    <td>{{ data|value:element.name|intcomma }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                      </div>
                      </div>
                    </div>
            </div>
    {% endfor %}
    <!-- End block -->
{% endblock %}