{% load staticfiles %}
<script src="/media/static/static_jquery/js/jquery.js"></script>
<script src="/media/static/bootstrap/js/bootstrap.js"></script>
{{ form.media }}
{% load bootstrap_themes %}
{% bootstrap_styles theme='spacelab' type='css' %}
<style>
#p_prldr{
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
/*background: #9A12B3;*/
z-index: 30;}

.contpre small{font-size:25px;}

.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color: #030303;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}

#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(https://loading.io/assets/img/landing/curved-bars.svg) center center no-repeat;
background-size:41px;
margin: -16px 0 0 -16px;}
</style>
    <script type="text/javascript">$(window).on('load', function () {
    var $preloader = $('#p_prldr'),
        $svg_anm   = $preloader.find('.svg_anm');
    /*$svg_anm.fadeOut();*/
    $preloader.delay(500).fadeOut('slow');
});</script>
{% block script %}
{% endblock %}
{% block head %}
    {% if user.is_authenticated %}
        <div id="p_prldr"><div class="contpre"><span class="svg_anm"></span></div></div>
    <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Finans 0.02</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2" aria-expanded="true">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'calc:transaction' %}">Транзакции</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Настройки<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'lib:person' %}">Люди</a></li>
            <li><a href="{% url 'lib:pouch' %}">Счета</a></li>
            <li><a href="{% url 'lib:category' %}">Категории</a> </li>
             {% if user.is_superuser %}
            <li><a href="{% url 'telebot:run_bot' %}">Запустить бота</a></li>
              {% endif %}
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Зарплата<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'salary:calculate' 1 %}">Работники</a></li>
           {% if user.is_staff %}
            <li><a href="{% url 'salary:workcalc' %}">Список работ / стоимость</a></li>
            <li><a href="{% url 'salary:bonuswork' %}">Бонусы</a></li>
            <li><a href="{% url 'salary:accountchange' %}">Бонусы без фиксы</a></li>
            <li><a href="{% url 'salary:categoryofchange' %}">Основания начислений / удержаний</a></li>
            <li><a href="{% url 'salary:calculate' 2 %}">Расчет ЗП</a></li>
           {% endif %}
          </ul>
        </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">Отчеты<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'report:report_transaction' %}">По транзакциям</a></li>
              {% if user.is_staff %}
              <li><a href="{% url 'report:report_workers' %}">По работам</a></li>
              {% endif %}
          </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'logout' %}">{{ user.username }}:Выйти</a></li>
        </ul>
    </div>
    </nav>
    {% endif %}
{% endblock %}
{% block body %}
    <h4 align="center">Привет, {{ user.username }}!</h4>
{% endblock %}
{% block footer %}
{% endblock %}