{% block head %}
{% load staticfiles %}
<script src="/media/static/static_jquery/js/jquery.js"></script>
<script src="/media/static/bootstrap/js/bootstrap.js"></script>
{% load bootstrap_themes %}
{% load bootstrap %}
{% bootstrap_styles theme='yeti' type='css' %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    .form-control {
        max-width: 97%;
        margin-top: 2%;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="panel-body">
    <p class="text-danger" style="margin-top: 10%;" align="center">{{ error }}</p>
    <div class="panel panel-default" style="margin: auto; max-width: 300px;">
    <div align="center" style="margin: auto;">
    <form action="{% url 'login-redirect' %}" method="post">
    {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="вход" class="btn btn-success btn-sm" style="width: 97%;">
    </form>
    </div>
    </div>
    </div>
{% endblock %}